<!-- Modal code has been taken from https://www.w3schools.com/howto/howto_css_modals.asp
                                       https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal

     Original code from website above, and adapted by Killian O'Neachtain, 20023634   -->

<style>

    body {font-family: Arial, Helvetica, sans-serif;}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
</head>
<body>


<!-- Trigger/Open The Modal -->

<div data-tooltip="Weight Information"><i id="myBtn" class="big blue info circle icon link"></i></div>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" style="text-transform: none">
        <span class="close">&times;</span>
        <br>
        <section class="ui raised segment">
            <section class="ui red raised segment">
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Body Mass Index (BMI) is Calculated by using the formula :</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>BMI = Weight (Kg) / (Height in Metres)&#178</td>
                    </tr>
                    <tr>
                        <td style="color: ${models.Analytics.iconColour(models.Analytics.determineBMICategory(_member.currentWeight,_member.height))}">
                            Your Current Body Mass Index, ${_member.firstname} ${_member.lastname}, is :
                        ${models.Analytics.calculateBMI(_member.currentWeight, _member.height)}</td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="ui red raised segment">
                <table class="ui center aligned celled table">
                    <thead>
                    <tr><th>Body Mass Index Value</th>
                        <th >Category</th>
                        <th>Colour</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        <td> 0.01 - 15.99</td>
                        <td style="text-transform: uppercase"> SEVERELY UNDERWEIGHT </td>
                        <td><i class="big violet heartbeat icon"></i></td>
                    </tr>
                    <tr>
                        <td> 16 - 18.49</td>
                        <td style="text-transform: uppercase"> UNDERWEIGHT </td>
                        <td><i class="big teal heartbeat icon"></i></td>
                    </tr>
                    <tr>
                        <td> 18.5 - 24.99</td>
                        <td style="text-transform: uppercase"> NORMAL </td>
                        <td><i class="big green heartbeat icon"></i></td>
                    </tr>
                    <tr>
                        <td> 25 - 29.99</td>
                        <td style="text-transform: uppercase"> OVERWEIGHT </td>
                        <td><i class="big yellow heartbeat icon"></i></td>
                    </tr>
                    <tr>
                        <td> 30 - 34.99 </td>
                        <td style="text-transform: uppercase"> MODERATELY OBESE </td>
                        <td><i class="big orange heartbeat icon"></i></td>
                    </tr>
                    <tr>
                        <td> >= 35 </td>
                        <td style="text-transform: uppercase"> SEVERELY OBESE </td>
                        <td><i class="big red heartbeat icon"></i></td>
                    </tr>
                    <tr style="">
                        <td> 0.00 </td>
                        <td style="text-transform: uppercase"> Unknown</td>
                        <td><i class="big olive heartbeat icon"></i></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </section>

        <section class="ui secondary raised segment">
            <section class="ui green raised segment">
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Ideal Weight Calculation : The Devine Formula</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><i class="large female icon"></i>Female: Ideal Body Weight [kg] = 45.5 kg + 2.3 kg × (height[in] - 60)&#42</td>
                    </tr>
                    <tr>
                        <td><i class="large male icon"></i>Male: Ideal Body Weight [kg] = 50 kg + 2.3 kg × (height[in] - 60)&#42</td>
                    </tr>
                    <tr><td>&#42 Note : We have converted the formula to work for your height in centimetres.</td>  </tr>
                    </tbody>
                </table>
            </section>


            <section class="ui green raised segment">
                <table class="ui celled structured table">
                    <thead>
                    <tr>
                        <th> Your Ideal Weight Calculations</th>
                        <th>± 2.00Kg of Calculated Ideal Weight</th>
                        <th>Colour</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        <td rowspan="2" style="color: ${models.Analytics.iwiIconColour(models.Analytics.calcIdealBodyWeight(_member.height, _member.gender), _member.currentWeight)}">
                            Your Ideal Weight is: ${models.Analytics.calcIdealBodyWeight(_member.height, _member.gender)} Kg <br>
                            Your Current Weight ${_member.firstname} ${_member.lastname} is : ${_member.currentWeight} Kg <br>
                            You are ${models.Analytics.idealWeightDifferential(_member.currentWeight, models.Analytics.calcIdealBodyWeight(_member.height, _member.gender))} Kg
                            from your Ideal Weight!</td>
                        <td> Yes </td>
                        <td><i class="big green tachometer alternate icon"></i></td>
                    </tr>
                    <tr>
                        <td> No </td>
                        <td><i class="big red tachometer alternate icon"></i></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </section>

        <section class="ui  tertiary raised segment">
            <table class="ui olive celled table">
                <thead>
                <tr><th>Trending Condition</th>
                    <th>Trend Colour</th>
                </tr></thead>
                <tbody>
                <tr class="positive">
                    <td> Your Current Weight is Lower than Your Previous Assessment Weight </td>
                    <td><i class="ui small olive tag label"></i></td>
                </tr>
                <tr class="negative">
                    <td> Your Current Weight is Higher than Your Previous Assessment Weight </td>
                    <td><i class="ui small red tag label"></i></td>
                </tr>
                <tr>
                    <td> Your Starting Assessment </td>
                    <td><i class="ui small blue tag label"></i></td>
                </tr>
                </tbody>
            </table>
        </section>


    </div>

</div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


</script>

</body>

<!-- Modal code has been taken from https://www.w3schools.com/howto/howto_css_modals.asp
                                    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
                                    -->
