#{list items:_member, as:member}
<table class="ui striped ${models.Analytics.iconColour(models.Analytics.determineBMICategory(_member.currentWeight, _member.height))} celled structured table">#{/list}
    <thead>
    <tr>
        <th>Date</th>
        <th>Weight (Kg)</th>
        <th>Chest (cm)</th>
        <th>Thigh (cm)</th>
        <th>Upper Arm (cm)</th>
        <th>Waist (cm)</th>
        <th>Hips (cm)</th>
        <th>Trend</th>
        <th>Comment</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_member.assessmentdetailslist, as:'assessmentDetails'}
    <tr>
        <td data-label="Assessment Time">${assessmentDetails.formattedDate}</td>
        <td data-label="Weight">${assessmentDetails.weight}</td>
        <td data-label="Chest">${assessmentDetails.chest}</td>
        <td data-label="Thigh">${assessmentDetails.thigh}</td>
        <td data-label="Upper Arm">${assessmentDetails.upperArm}</td>
        <td data-label="Waist">${assessmentDetails.waist}</td>
        <td data-label="Hips">${assessmentDetails.hips}</td>
        <td data-label="Trend"><i class="ui small ${assessmentDetails.trend} tag label"></i></td>
        <td data-label="Comment">${assessmentDetails.comment}</td>
        <td class="center aligned"><a href="/members/${_member.id}/deleteassessment/${assessmentDetails.id}">
            <i class="centered trash alternate outline icon"></i></a></td>
    </tr>
    #{/list}
    </tbody>
    <tfoot class="full-width very padded">
    <tr style="text-transform: capitalize;font-style: italic;font-weight: bold">
        <th></th>
        <th colspan="2"><i class="ui tiny olive tag label"></i> : WEIGHT DECREASE</th>
        <th colspan="2"><i class="ui tiny red tag label"></i> : WEIGHT INCREASE</th>
        <th colspan="5"><i class="ui tiny blue tag label"></i> : BASE ASSESSMENT</th>
    </tr>
    </tfoot>
</table>