<section class="ui center aligned middle aligned segment">
#{list items:_member, as:member}
    <div class="ui column grid" style=" font-family: helvetica; font-size: 120%;
            text-transform: uppercase; font-weight: bold">
        <div class="six column row" style="padding-bottom: 0%">
            <div class="four wide column"><i class="big ${models.Analytics.checkGender(_member.gender)} user icon"></i></div>
            <div class="four wide column"  data-tooltip="Your Ideal Weight is:
                    ${models.Analytics.calcIdealBodyWeight(_member.height, _member.gender)} Kg">
                <i class="big
${models.Analytics.iwiIconColour(models.Analytics.calcIdealBodyWeight(_member.height, _member.gender), _member.currentWeight)}
                tachometer alternate icon"></i></div>
            <div class="two wide column" style="text-align: right; padding: 0px; ">
                <i class="big ${models.Analytics.iconColour(models.Analytics.assessBMI(_member.currentWeight, _member.height))}
                          heartbeat icon"></i></div>
            <div class="two wide column" style="padding-top: 8px; padding-left: 0px; font-size: 200%;
                    text-align: left; font-family: 'Avenir','Avenir Next', 'Avenir Next Condensed', sans-serif;
                    font-weight: normal">
            ${models.Analytics.getBMI(_member.currentWeight, _member.height)}
            </div>
            <div class="three wide column">
                <i class="big user md icon"></i></div>
            <div class="one wide column" style="padding: 0%">
                #{analyticInformation member:_member /}
            </div>
        </div>
        <div class="six column row" style="padding-top: 0%">
            <div class="four wide column">${_member.firstname} ${_member.lastname}</div>
            <div class="four wide column">
                Ideal Weight Indicator</div>
            <div class="two wide column"></div>
            <div class="two wide column" style="padding-left: 0px; text-align: left">BMI</div>
            <div class="three wide column">${models.Analytics.assessBMI( _member.currentWeight, _member.height)}</div>
            <div class="one wide column"></div>
        </div>
    </div>
#{/list}
</section>