<nav class="ui menu">
  <header class="ui violet header item"> Killian's Gym </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/memberctrl"><i class="home icon"></i></a>
    <a id="about" class="item" href="/about"> About </a>

      <nav class="ui dropdown item">
        <i class="user icon"></i>
        <i class="dropdown icon"></i>
        <div class="menu">
           <a id="profile" class="item" href="/memberctrl/viewProfile"><i class="address card icon"></i>View / Edit Profile</a>
           <a id="logout" class="item" href="/logout"><i class="sign out alternate icon"></i>Logout</a>
        </div>
      </nav>
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>

<script>
$('.ui.dropdown')
.dropdown()
;
</script>
